body {
    background: white;
}

.logo {
    width: 50%;
    height: 50%;
}

.principale {
    display: flex;
    justify-content: center;
}

.text {
    display: flexbox;
    width: 500px;
}

.par {
    width: 500px;
    display: flex;
    justify-content: center;
}